{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },

  "ConnectionStrings": {
    "MyConnection": "Server=MCOA-LIDGESH; Database=PrivateBlog; User Id=Catheuser; Password=Noahperez2020; encrypt=false;"
  },
  "AllowedHosts": "*"
}
